@import '/src/style/resources.module.scss';
.movieDetail {
  margin-bottom: 15px;
  font-size: $font-md;
}

.movieDetail .good {
  color: $blue;
}

.movieDetail .soso {
  color: $yellowgreen;
}

.movieDetail .bad {
  color: $red;
}
