.App {
  margin: 20px;
}
.good {
  color: blue;
}

.soso {
  color: yellowgreen;
}

.bad {
  color: red;
}
.movieTitle {
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-align: center;
}

.movieTitle:hover {
  background: gray;
}

.movieImage {
  border: 1px solid gray;
  border-radius: 5px;
  width: 200px;
}
.list {
  margin-bottom: 10px;
}

.genres {
  font-size: 0.5rem;
}
