.App {
  margin: 20px;
}

.movieTitle {
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: 500px;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-align: center;
}
